<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="stilus.css">
        <title>Layout 1.</title>
    </head>
    <body>
        <div id="container">
            <div class="felso b">
                teszt szöveg 1
            </div>
            <div class="kozep b">
                teszt szöveg 2
            </div>
            <div class="also b">
                teszt szöveg 3
            </div>

        </div>

    </body>
</html>
